# NYC Apartment Search

_[Project prompt](https://docs.google.com/document/d/1ogme9BJeHb2IZ6UREavUorF--nnxoWCYAAi8AZ4Q5jQ/edit?usp=sharing) and [grading rubric](https://docs.google.com/document/d/1XI9Yq_e-U-D3iH4jTPAtNteeP2Q9mtJ9NKbePWKeN_g/edit?usp=sharing)

_This scaffolding notebook may be used to help setup your final project. It's **totally optional** whether you make use of this or not._

_If you do use this notebook, everything provided is optional as well - you may remove or add code as you wish._

_**All code below should be consider "pseudo-code" - not functional by itself, and only an idea of a possible approach.**_

## Setup

In [3]:
# All import statements needed for the project, for example:

import json
import pathlib
import urllib.parse

import geoalchemy2 as gdb
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import requests
import shapely
import sqlalchemy as db

from sqlalchemy.orm import declarative_base

In [4]:
!createdb aendta_db

createdb: error: database creation failed: ERROR:  database "aendta_db" already exists

In [5]:
!psql --dbname aendta_db -c 'CREATE EXTENSION postgis;'

ERROR:  extension "postgis" already exists

In [7]:
# Any constants you might need; some have been added for you

# Where data files will be read from/written to - this should already exist
DATA_DIR = pathlib.Path("data")
ZIPCODE_DATA_FILE = DATA_DIR / "nyc_zipcodes" / "nyc_zipcodes.shp"
ZILLOW_DATA_FILE = DATA_DIR / "zillow_rent_data.csv"

NYC_DATA_APP_TOKEN = "Lowr54ShQCxjzTIFPwsC6ZSPm"
BASE_NYC_DATA_URL = "https://data.cityofnewyork.us/"
NYC_DATA_311 = "erm2-nwe9.geojson"
NYC_DATA_TREES = "5rq2-4hqu.geojson"

DB_NAME = "aendta_db"
DB_USER = "alexander"
DB_URL = f"postgresql+psycopg2://{DB_USER}@localhost/{DB_NAME}"
DB_SCHEMA_FILE = "schema.sql"
# directory where DB queries for Part 3 will be saved
QUERY_DIR = pathlib.Path("queries")

In [8]:
# Make sure the QUERY_DIRECTORY & DATA_DIR exists
if not DATA_DIR.exists():
    DATA_DIR.mkdir()
if not QUERY_DIR.exists():
    QUERY_DIR.mkdir()

## Part 1: Data Preprocessing

In [6]:
import urllib.parse
import requests
import json
from pathlib import Path

DATA_DIR = Path("data")

def download_nyc_geojson_data(url, force=False):
    parsed_url = urllib.parse.urlparse(url)
    url_path = parsed_url.path.strip("/")
    filename = DATA_DIR / (url_path.replace("/", "_") + ".geojson") 
    
    if force or not filename.exists(): 
        print(f"Downloading {url} to {filename}...")
        response = requests.get(url)
        response.raise_for_status()  
        
        with open(filename, "w") as f:
            json.dump(response.json(), f) 
        
        print(f"Done downloading {url}.")
    
    else:
        print(f"Reading from {filename}...")
    
    return filename

In [51]:
def load_and_clean_zipcodes(zipcode_datafile):
    zipcodes_df = pd.read_csv("data/nyc_zipcodes-1.csv")
    keep_columns = ["ZIPCODE", "PO_NAME", "POPULATION", "BLDGZIP", "AREA", "COUNTY", "CTY_FIPS"]
    zipcodes_df = zipcodes_df[keep_columns]
    zipcodes_df = zipcodes_df.dropna()
    zipcodes_df.columns = zipcodes_df.columns.str.strip().str.lower()
    zipcodes_df["zipcode"] = zipcodes_df["zipcode"].astype(str)
        
    return zipcodes_df
zipcode_datafile = 'data/nyc_zipcodes-1.csv'  # Replace with your file path
df_zipcodes = load_and_clean_zipcodes(zipcode_datafile)
df_zipcodes

FileNotFoundError: [Errno 2] No such file or directory: 'data/nyc_zipcodes-1.csv'

In [11]:
import requests
import os
from pathlib import Path

data_dir = Path("data")
data_dir.mkdir(exist_ok=True)  
application_token = os.getenv(NYC_DATA_APP_TOKEN)
url_311 = "https://data.cityofnewyork.us/resource/erm2-nwe9.json"

def download_and_clean_311_data(_331_datafile):
    headers = {"X-App-Token": NYC_DATA_APP_TOKEN}
    response = requests.get(url_311, headers=headers)
    response.raise_for_status() 
    
    filename_311 = data_dir / "311_data.json"
    with open(filename_311, "w") as f:
        f.write(response.text) 
    
    data_311 = pd.read_json(filename_311) 
    keep_columns = ["created_date", "complaint_type", "latitude", "longitude", "borough"]
    data_311 = data_311[keep_columns]
    data_311 = data_311.dropna()  
    data_311.columns = data_311.columns.str.strip().str.lower()  # Standardize column names
    
    return data_311
_311_datafile = 'data/311_data.json' 
df_311 = download_and_clean_311_data(_311_datafile)
df_311

,created_date,complaint_type,latitude,longitude,borough
0,2024-04-24T01:51:03.000,Noise - Residential,40.809497,-73.941700,MANHATTAN
1,2024-04-24T01:49:23.000,Noise - Residential,40.853718,-73.864825,BRONX
2,2024-04-24T01:48:53.000,Blocked Driveway,40.757165,-73.913862,QUEENS
3,2024-04-24T01:47:55.000,Noise - Residential,40.809497,-73.941700,MANHATTAN
4,2024-04-24T01:47:52.000,Blocked Driveway,40.603881,-73.960620,BROOKLYN
...,...,...,...,...,...
995,2024-04-23T21:46:22.000,PAINT/PLASTER,40.653202,-73.960533,BROOKLYN
996,2024-04-23T21:46:22.000,UNSANITARY CONDITION,40.653202,-73.960533,BROOKLYN
997,2024-04-23T21:46:18.000,Sidewalk Condition,40.761623,-73.960484,MANHATTAN
998,2024-04-23T21:45:34.000,New Tree Request,40.808476,-73.955124,MANHATTAN
999,2024-04-23T21:45:31.000,Illegal Parking,40.661970,-73.771128,QUEENS

In [13]:
!pip install pyogrio

def download_and_clean_tree_data(tree_datafile):
    # Download the tree data
    url_tree = "https://data.cityofnewyork.us/resource/5rq2-4hqu.geojson"
    headers = {"X-App-Token": NYC_DATA_APP_TOKEN}  
    response = requests.get(url_tree, headers=headers)
    response.raise_for_status()  

    filename_tree = data_dir / "treesdata.geojson"  
    with open(filename_tree, "w") as f:
        f.write(response.text)  

    data_tree = gpd.read_file("GeoJSON:data/treesdata.geojson") 
    data_tree = gpd.GeoDataFrame(data_tree, geometry='geometry')

    keep_columns = ["tree_id", 'created_at', 'block_id', 'tree_dbh', 'status','spc_latin','spc_common','zip_city', "boroname", "latitude", "longitude", 'geometry', 'nta', 'health','zipcode','address','nta_name']
    data_tree = data_tree[keep_columns]  
    data_tree = data_tree.dropna(subset=["tree_id", "latitude", "longitude"])  
    data_tree.columns = data_tree.columns.str.strip().str.lower() 
    data_tree = data_tree.to_crs(epsg=2029) 

    return data_tree

tree_datafile = 'data/treesdata.geojson'
geodf_trees = download_and_clean_tree_data(tree_datafile)
geodf_trees

Requirement already satisfied: pyogrio in /Users/diegoampudia/anaconda3/lib/python3.11/site-packages (0.7.2)
Requirement already satisfied: certifi in /Users/diegoampudia/anaconda3/lib/python3.11/site-packages (from pyogrio) (2023.7.22)
Requirement already satisfied: numpy in /Users/diegoampudia/anaconda3/lib/python3.11/site-packages (from pyogrio) (1.25.2)
Requirement already satisfied: packaging in /Users/diegoampudia/anaconda3/lib/python3.11/site-packages (from pyogrio) (23.0)

,tree_id,created_at,block_id,tree_dbh,status,spc_latin,spc_common,zip_city,boroname,latitude,longitude,geometry,nta,health,zipcode,address,nta_name
0,180683,08/27/2015,348711,3,Alive,Acer rubrum,red maple,Forest Hills,Queens,40.72309177,-73.84421522,POINT (1104574.224 4532506.823),QN17,Fair,11375,108-005 70 AVENUE,Forest Hills
1,200540,09/03/2015,315986,21,Alive,Quercus palustris,pin oak,Whitestone,Queens,40.79411067,-73.81867946,POINT (1106084.075 4540576.364),QN49,Fair,11357,147-074 7 AVENUE,Whitestone
2,204026,09/05/2015,218365,3,Alive,Gleditsia triacanthos var. inermis,honeylocust,Brooklyn,Brooklyn,40.71758074,-73.9366077,POINT (1096811.875 4531258.710),BK90,Good,11211,390 MORGAN AVENUE,East Williamsburg
3,204337,09/05/2015,217969,10,Alive,Gleditsia triacanthos var. inermis,honeylocust,Brooklyn,Brooklyn,40.71353749,-73.93445616,POINT (1097030.131 4530824.104),BK90,Good,11211,1027 GRAND STREET,East Williamsburg
4,189565,08/30/2015,223043,21,Alive,Tilia americana,American linden,Brooklyn,Brooklyn,40.66677776,-73.97597938,POINT (1093936.292 4525344.846),BK37,Good,11215,603 6 STREET,Park Slope-Gowanus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,191374,08/31/2015,415497,1,Dead,None,None,Staten Island,Staten Island,40.56929363,-74.12944305,POINT (1081800.110 4513481.110),SI25,None,10306,86 EAST BROADWAY,Oakwood-Oakwood Beach
996,177355,08/26/2015,224301,10,Alive,Acer platanoides,Norway maple,Brooklyn,Brooklyn,40.68505281,-74.00015216,POINT (1091728.251 4527211.708),BK33,Poor,11231,178 DE GRAW STREET,Carroll Gardens-Columbia Street-Red Hook
997,195035,09/01/2015,229940,25,Alive,Acer platanoides,Norway maple,Brooklyn,Brooklyn,40.62479203,-73.95751667,POINT (1095874.093 4520804.715),BK43,Good,11230,1054 EAST 19 STREET,Midwood
998,177062,08/26/2015,409315,18,Alive,Acer platanoides,Norway maple,Staten Island,Staten Island,40.5925856,-74.09660154,POINT (1084379.322 4516288.001),SI36,Good,10304,93 DELAWARE AVENUE,Old Town-Dongan Hills-South Beach
999,188662,08/30/2015,312637,32,Alive,Acer platanoides,Norway maple,Flushing,Queens,40.76495852,-73.79587099,POINT (1108277.990 4537495.497),QN51,Fair,11358,169-019 35 AVENUE,Murray Hill

In [15]:
data_dir = Path("data")

def load_and_clean_zillow_data(zillow_datafile):
    zillow_datafile = data_dir / "zillow_rent_data.csv"  
    zillow_df = pd.read_csv(zillow_datafile)
    zillow_df = zillow_df.drop(columns = ['StateName', 'RegionType','Metro', 'City'])
    zillow_df = zillow_df.dropna()  
    zillow_df.columns = zillow_df.columns.str.strip().str.lower()  
    
    return zillow_df

zillow_datafile = 'data/zillow_rent_data.csv'  # Replace with your file path
cleaned_zillow = load_and_clean_zillow_data(zillow_datafile)
df_zillow = cleaned_zillow[cleaned_zillow['state'] == 'NY']
df_zillow

,regionid,sizerank,regionname,state,countyname,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,...,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31
16,62037,19,11226,NY,Kings County,1868.105728,1893.672364,1969.589733,1986.212577,2000.928470,...,2613.659650,2633.525698,2662.290709,2679.586231,2693.602946,2672.819878,2644.929685,2644.410748,2652.155298,2680.780024
25,61639,29,10025,NY,New York County,3098.357195,3106.023721,3104.234893,3142.021449,3164.276824,...,3817.813149,3904.197355,3995.762151,4043.179089,4066.639389,4063.470382,3986.671655,3894.029312,3791.015840,3792.998965
42,62017,47,11206,NY,Kings County,2346.753296,2347.893103,2424.447241,2457.035473,2535.944844,...,3397.065656,3406.346311,3466.232099,3493.401248,3499.914375,3506.426102,3483.233643,3406.711154,3348.781644,3303.408189
43,62032,48,11221,NY,Kings County,2052.397221,2063.723462,2063.476048,2113.173098,2125.333487,...,2971.613068,3007.409687,3045.702391,3091.158895,3104.550904,3115.142613,3095.227230,3057.308159,3013.185441,3020.454439
67,62045,73,11235,NY,Kings County,1703.266127,1747.275109,1773.855593,1828.410059,1833.244388,...,2466.975949,2407.638118,2449.748190,2453.754288,2487.964903,2500.224485,2515.695716,2569.989624,2527.888679,2566.480159
75,62043,81,11233,NY,Kings County,1781.091670,1789.585683,1766.338883,1808.226203,1870.879467,...,2707.950319,2751.723607,2789.296542,2821.627388,2823.059273,2836.253053,2782.965511,2749.438133,2713.581236,2735.835088
111,61643,122,10029,NY,New York County,2284.781709,2284.183246,2289.389182,2307.728976,2327.186327,...,2875.356843,2890.985584,2899.518149,2907.073972,2917.961442,2894.956336,2882.648971,2860.843980,2852.999555,2827.066667
128,61616,139,10002,NY,New York County,2792.959154,2779.077623,2755.580309,2793.358960,2822.757022,...,3558.843588,3608.718986,3669.505689,3681.631589,3692.901772,3685.912748,3653.724909,3589.821246,3512.801890,3507.375801
132,62087,143,11375,NY,Queens County,1776.128861,1757.548582,1767.367753,1768.708606,1774.195182,...,2398.062756,2411.634909,2501.606347,2532.176614,2517.768526,2550.194396,2531.740588,2515.355776,2480.098428,2502.562500
160,62026,172,11215,NY,Kings County,2434.603096,2474.330994,2514.070872,2559.933439,2590.630277,...,3397.712597,3454.225652,3482.462766,3495.590867,3483.123376,3551.134516,3578.595886,3565.727021,3517.447805,3488.081589
210,62012,222,11201,NY,Kings County,3073.926099,3075.605067,3095.073089,3105.299250,3110.845352,...,4147.074487,4165.377135,4192.859806,4256.067067,4287.112683,4304.747053,4286.497851,4221.376665,4206.781320,4185.626093
248,61641,262,10027,NY,New York County,2289.630080,2316.969476,2264.369809,2307.510349,2344.072891,...,2970.661834,3037.161073,3080.356535,3124.936396,3136.925438,3097.626971,3031.566654,2968.150762,2981.470967,3026.058357
280,62022,295,11211,NY,Kings County,2935.706095,2949.600904,2961.836175,2981.767938,2994.518952,...,4008.765333,4074.574038,4098.549734,4151.880201,4168.676348,4164.529717,4178.637612,4152.573078,4052.923140,3984.145991
351,61638,369,10024,NY,New York County,2801.445636,2837.896401,2869.199554,2889.706357,2907.692919,...,3553.807975,3607.673052,3675.782823,3713.614084,3721.382165,3757.009322,3736.937442,3723.831884,3675.120576,3681.909664
368,61646,388,10032,NY,New York County,1779.830000,1806.443979,1819.806231,1838.226655,1847.606088,...,2316.457590,2366.526567,2421.505876,2446.907348,2440.123579,2431.204895,2431.223577,2424.712048,2407.149267,2416.379731
389,62027,412,11216,NY,Kings County,2053.050683,2078.598067,2097.404738,2103.469829,2136.459538,...,2928.707308,2980.393361,3042.227821,3043.293865,3090.262925,3109.809292,3109.777995,3050.038548,3011.545629,2979.556904
400,61637,423,10023,NY,New York County,3341.584542,3350.867778,3386.857092,3397.861809,3423.407428,...,4159.103795,4226.911574,4254.827060,4294.450255,4288.284931,4311.018247,4330.405403,4293.537768,4233.952911,4170.070286
424,62048,447,11238,NY,Kings County,2625.680242,2603.492476,2588.388341,2623.400829,2647.325866,...,3506.770009,3564.540073,3637.169994,3627.084804,3680.261038,3713.154811,3735.383062,3687.144833,3630.257551,3647.604805
452,61645,476,10031,NY,New York County,2123.215923,2171.956561,2179.453437,2190.200660,2186.745704,...,2766.099891,2814.306622,2827.727788,2847.046060,2903.576944,2903.859164,2882.425894,2828.900366,2774.403277,2771.937322
466,62036,491,11225,NY,Kings County,1850.055686,1927.642945,1946.318845,1986.366485,1980.117869,...,2672.889500,2735.151479,2758.505906,2755.794478,2760.409156,2781.607408,2769.956088,2752.997011,2796.076318,2819.377652
675,61617,710,10003,NY,New York County,3090.447275,3098.525868,3126.888501,3182.247570,3220.574344,...,4130.263663,4157.495466,4203.424276,4246.391489,4231.955889,4221.023572,4182.520103,4152.600351,4091.097675,4062.003527
972,62016,1025,11205,NY,Kings County,2207.747370,2256.772814,2257.047244,2242.121980,2210.005220,...,3104.476200,3144.760316,3177.669129,3189.682141,3252.226685,3219.444080,3233.248545,3142.114170,3127.531870,3168.501659
1057,62047,1114,11237,NY,Kings County,2324.495261,2271.811196,2298.568025,2276.480327,2361.825434,...,3100.761860,3131.471418,3184.398943,3219.668532,3237.184838,3203.705055,3186.689461,3164.478852,3165.867351,3150.309622
1082,62086,1140,11374,NY,Queens County,1879.127034,1891.137657,1918.702802,1939.286888,1918.804298,...,2536.259221,2544.599429,2589.805086,2600.962031,2629.395876,2661.219737,2682.454497,2667.769381,2622.513084,2616.058333
1235,61654,1304,10040,NY,New York County,1655.152318,1671.721988,1692.171275,1698.635626,1704.665085,...,2204.657386,2240.635715,2216.193074,2267.193311,2283.735531,2324.861568,2308.196611,2293.148891,2237.514953,2220.833333
1268,61633,1339,10019,NY,New York County,3413.717422,3418.159856,3413.929828,3465.119166,3498.081610,...,4122.398713,4179.732117,4249.129095,4268.853034,4290.712582,4258.469078,4222.144200,4148.309877,4116.078104,4088.216667
1502,62028,1595,11217,NY,Kings County,2697.026922,2723.521054,2760.349487,2789.021079,2784.270637,...,3804.736770,3870.448991,3912.345285,3973.850313,4027.843778,4006.645925,4000.312994,3918.264904,3924.170761,3945.114924
1592,62058,1693,11249,NY,Kings County,3314.972505,3322.225291,3368.541504,3330.632876,3368.414513,...,4779.747763,4849.294448,4914.143667,4939.576173,4897.606035,4877.067949,4769.835279,4716.313002,4623.371661,4651.785714
1727,61635,1838,10021,NY,New York County,2495.391911,2523.075579,2549.339649,2571.250615,2569.134546,...,3341.022958,3357.247404,3401.627396,3441.327523,3447.595876,3415.279256,3362.889730,3311.577770,3299.893718,3269.257037
1765,62033,1881,11222,NY,Kings County,2677.681183,2705.724644,2699.047199,2709.820736,2720.411280,...,3913.853799,3940.302111,3955.789790,4037.126289,4065.760442,4067.678642,3996.662302,3893.355260,3881.777502,3912.855632
1861,62041,1988,11231,NY,Kings County,2351.940960,2376.926039,2394.618768,2352.256573,2353.593770,...,3434.161046,3507.683367,3557.916850,3690.445677,3762.643536,3770.680217,3729.236606,3588.023763,3598.242941,3612.552137
1997,62009,2134,11106,NY,Queens County,1924.058541,1869.835985,1905.666696,1896.182345,2015.173335,...,2514.720783,2547.180001,2588.901597,2665.606411,2658.410898,2651.906947,2633.020559,2618.911606,2618.931243,2564.901124
2051,61640,2193,10026,NY,New York County,2609.721560,2592.162706,2635.125382,2657.059862,2684.045300,...,3243.055023,3324.643039,3368.441629,3414.859926,3420.330755,3390.330505,3327.909981,3288.582066,3160.201247,3167.814815
2109,61649,2256,10035,NY,New York County,2177.350957,2236.686499,2313.147359,2338.702337,2370.161723,...,3103.790201,3114.777672,3112.369093,3079.540972,3085.996133,3053.983730,2996.076794,2961.129878,2921.448354,2927.615079
2360,62006,2551,11103,NY,Queens County,1853.348819,1868.216793,1880.681344,1920.398577,1948.243240,...,2524.285028,2606.590196,2640.701280,2689.116512,2624.433073,2585.615860,2590.900918,2626.894527,2705.873722,2725.369048
2511,61636,2723,10022,NY,New York County,3024.670211,3053.820756,3055.272914,3108.913489,3146.362475,...,3799.932392,3810.300859,3864.526992,3892.366415,3916.062584,3901.606542,3885.935808,3846.903354,3816.093265,3803.364924
2662,61624,2896,10010,NY,New York County,3598.546195,3620.742408,3663.520972,3722.898896,3743.461231,...,4651.461243,4733.543654,4747.252604,4829.763406,4844.159315,4857.070540,4784.998701,4732.712922,4715.403051,4725.159814
3004,61628,3299,10014,NY,New York County,3549.411228,3594.033311,3600.493495,3637.334600,3674.480458,...,4870.465171,4948.693110,5020.333632,5078.980342,5084.296044,5038.239574,5005.133443,4909.619794,4910.760648,4928.707912
3258,62154,3616,11561,NY,Nassau County,1701.833672,1725.058067,1726.897264,1767.385995,1723.303964,...,3104.533556,3070.079802,3064.583633,3032.725474,2953.200948,2876.876078,2883.786497,2876.295276,2886.336936,3018.262987
3506,399545,3936,10065,NY,New York County,2899.821549,2948.612922,2956.183705,2973.371721,2985.574699,...,3844.815523,3858.510244,3891.849238,3862.451725,3910.451702,3878.539134,3835.655536,3867.634311,3832.265332,3888.170533
3521,61627,3951,10013,NY,New York County,4784.827450,4808.528512,4841.968068,4943.292305,4992.170467,...,6248.858834,6394.735791,6482.529953,6563.302952,6511.758057,6453.860277,6360.386720,6262.316893,6280.947767,6282.176274
3593,62005,4044,11102,NY,Queens County,2194.365466,2212.868927,2252.572950,2220.992123,2233.284855,...,2735.479575,2782.651673,2798.875390,2846.617432,2860.788316,2851.587064,2851.459482,2857.528766,2866.848430,2828.052539
3608,399546,4062,10075,NY,New York County,2224.783185,2231.466378,2254.993515,2283.057900,2295.679067,...,2971.883318,2985.234705,3010.765549,3047.346880,3047.059557,3057.229760,3062.546941,3022.276012,3026.075825,2985.508248
3769,61650,4279,10036,NY,New York County,3182.075775,3204.906822,3234.912704,3260.979798,3262.350082,...,3964.532102,4022.879421,4069.777958,4118.826187,4124.896747,4158.295835,4143.652169,4084.772892,3999.917254,3990.789522
3894,61615,4444,10001,NY,New York County,3868.171778,3909.551013,3902.958445,3966.408517,4020.716306,...,4844.002294,4893.024584,4992.921332,5078.040899,5151.044378,5129.767740,5041.333668,4929.643941,4865.103853,4846.267196
4311,61652,5069,10038,NY,New York County,3281.715919,3314.113364,3393.576134,3515.924929,3529.124804,...,4463.315994,4497.946990,4514.615821,4553.622849,4589.235728,4558.126415,4501.081419,4419.275490,4395.758222,4416.950657
4436,61626,5253,10012,NY,New York County,3050.368074,3035.701831,3104.352488,3132.309100,3174.522161,...,4090.030097,4151.388799,4235.823717,4298.737970,4325.803380,4302.914143,4251.262162,4163.213896,4097.768473,4132.365873
5253,61631,6681,10017,NY,New York County,3014.595364,3050.394059,3109.302124,3138.375026,3156.372829,...,3882.186063,3950.142676,4024.653165,4056.976977,4057.921575,4039.794884,4009.940480,3972.991908,3928.042280,3905.501894
6207,61619,9718,10005,NY,New York County,3329.043937,3333.774281,3368.325890,3432.189067,3465.415916,...,4233.038887,4276.595041,4311.282810,4324.124694,4369.709549,4371.593492,4433.638802,4374.944135,4352.105598,4315.516807
6332,61632,10508,10018,NY,New York County,3445.471840,3496.845114,3495.015153,3528.234471,3528.822809,...,4301.462541,4360.194599,4366.756930,4393.832321,4387.564241,4349.302891,4322.936234,4239.671247,4214.960083,4225.514006

In [16]:
def load_all_data():
    df_zipcodes = load_and_clean_zipcodes(zipcode_datafile)
    df_311 = download_and_clean_311_data(_311_datafile)
    geodf_trees = download_and_clean_tree_data(tree_datafile)
    df_zillow = load_and_clean_zillow_data(zillow_datafile)
    return (
        df_zipcodes,
        df_311,
        geodf_trees,
        df_zillow
    )

In [17]:
df_zipcodes, df_311, df_zillow, geodf_trees = load_all_data()

In [18]:
# Show basic info about each dataframe
df_zipcodes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   zipcode     263 non-null    object
 1   po_name     263 non-null    object
 2   population  263 non-null    float64
 3   bldgzip     263 non-null    int64
 4   area        263 non-null    float64
 5   county      263 non-null    object
 6   cty_fips    263 non-null    int64
dtypes: float64(2), int64(2), object(3)
memory usage: 14.5+ KB

In [19]:
# Show first 5 entries about each dataframe
df_zipcodes.head()

  zipcode   po_name  population  bldgzip          area  county  cty_fips
0   11436   Jamaica     18681.0        0  2.269930e+07  Queens        81
1   11213  Brooklyn     62426.0        0  2.963100e+07   Kings        47
2   11212  Brooklyn     83866.0        0  4.197210e+07   Kings        47
3   11225  Brooklyn     56527.0        0  2.369863e+07   Kings        47
4   11218  Brooklyn     72280.0        0  3.686880e+07   Kings        47

In [21]:
df_311.info()

<class 'pandas.core.frame.DataFrame'>
Index: 992 entries, 0 to 999
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   created_date    992 non-null    object
 1   complaint_type  992 non-null    object
 2   latitude        992 non-null    float64
 3   longitude       992 non-null    float64
 4   borough         992 non-null    object
dtypes: float64(2), object(3)
memory usage: 46.5+ KB

In [20]:
df_311.head()

,created_date,complaint_type,latitude,longitude,borough
0,2024-04-24T01:51:03.000,Noise - Residential,40.809497,-73.941700,MANHATTAN
1,2024-04-24T01:49:23.000,Noise - Residential,40.853718,-73.864825,BRONX
2,2024-04-24T01:48:53.000,Blocked Driveway,40.757165,-73.913862,QUEENS
3,2024-04-24T01:47:55.000,Noise - Residential,40.809497,-73.941700,MANHATTAN
4,2024-04-24T01:47:52.000,Blocked Driveway,40.603881,-73.960620,BROOKLYN

In [22]:
geodf_trees.info()

<class 'pandas.core.frame.DataFrame'>
Index: 579 entries, 0 to 6479
Columns: 114 entries, regionid to 2024-01-31
dtypes: float64(109), int64(3), object(2)
memory usage: 520.2+ KB

In [23]:
geodf_trees.head()

,regionid,sizerank,regionname,state,countyname,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,...,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31
0,91982,1,77494,TX,Fort Bend County,1471.214336,1477.033060,1484.755201,1492.248132,1495.544608,...,1843.953065,1853.546220,1860.805060,1873.335787,1879.080480,1882.092604,1877.636803,1857.636589,1846.701735,1839.654960
2,91940,3,77449,TX,Harris County,1285.448996,1283.387323,1290.731322,1302.782330,1313.463570,...,1799.232097,1803.978538,1815.603187,1824.661645,1837.338997,1837.127291,1822.343233,1809.231267,1813.118556,1830.410884
8,91926,11,77433,TX,Harris County,1350.951013,1346.486674,1353.515160,1362.401443,1363.458758,...,1882.654529,1881.873450,1908.720996,1941.138293,1965.196968,1997.556435,1984.275828,1962.842219,1886.411739,1867.679966
16,62037,19,11226,NY,Kings County,1868.105728,1893.672364,1969.589733,1986.212577,2000.928470,...,2613.659650,2633.525698,2662.290709,2679.586231,2693.602946,2672.819878,2644.929685,2644.410748,2652.155298,2680.780024
18,70829,21,30044,GA,Gwinnett County,1102.686034,1113.393291,1122.270029,1124.847420,1128.329575,...,2058.256657,2050.162966,2032.137633,1993.185884,1991.503042,1935.298976,1946.574119,1920.301442,1987.412100,1995.192319

In [24]:
df_zillow.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tree_id     1000 non-null   object
 1   created_at  1000 non-null   object
 2   block_id    1000 non-null   object
 3   tree_dbh    1000 non-null   object
 4   status      1000 non-null   object
 5   spc_latin   973 non-null    object
 6   spc_common  973 non-null    object
 7   zip_city    1000 non-null   object
 8   boroname    1000 non-null   object
 9   latitude    1000 non-null   object
 10  longitude   1000 non-null   object
 11  geometry    1000 non-null   geometry
 12  nta         1000 non-null   object
 13  health      973 non-null    object
 14  zipcode     1000 non-null   object
 15  address     1000 non-null   object
 16  nta_name    1000 non-null   object
dtypes: geometry(1), object(16)
memory usage: 132.9+ KB

In [25]:
df_zillow.head()

,tree_id,created_at,block_id,tree_dbh,status,spc_latin,spc_common,zip_city,boroname,latitude,longitude,geometry,nta,health,zipcode,address,nta_name
0,180683,08/27/2015,348711,3,Alive,Acer rubrum,red maple,Forest Hills,Queens,40.72309177,-73.84421522,POINT (1104574.224 4532506.823),QN17,Fair,11375,108-005 70 AVENUE,Forest Hills
1,200540,09/03/2015,315986,21,Alive,Quercus palustris,pin oak,Whitestone,Queens,40.79411067,-73.81867946,POINT (1106084.075 4540576.364),QN49,Fair,11357,147-074 7 AVENUE,Whitestone
2,204026,09/05/2015,218365,3,Alive,Gleditsia triacanthos var. inermis,honeylocust,Brooklyn,Brooklyn,40.71758074,-73.9366077,POINT (1096811.875 4531258.710),BK90,Good,11211,390 MORGAN AVENUE,East Williamsburg
3,204337,09/05/2015,217969,10,Alive,Gleditsia triacanthos var. inermis,honeylocust,Brooklyn,Brooklyn,40.71353749,-73.93445616,POINT (1097030.131 4530824.104),BK90,Good,11211,1027 GRAND STREET,East Williamsburg
4,189565,08/30/2015,223043,21,Alive,Tilia americana,American linden,Brooklyn,Brooklyn,40.66677776,-73.97597938,POINT (1093936.292 4525344.846),BK37,Good,11215,603 6 STREET,Park Slope-Gowanus

## Part 2: Storing Data

In [9]:
import psycopg2
from psycopg2 import sql

def setup_new_postgis_database(username, db_name):
    #Connect to the default database
    conn = psycopg2.connect(f"dbname=postgres user={username}")
    conn.autocommit = True 
    cursor = conn.cursor()
    
    #Create the new database
    try:
        cursor.execute(sql.SQL("CREATE DATABASE {}").format(sql.Identifier(db_name)))
        print(f"Database {db_name} created successfully.")
    except psycopg2.DatabaseError as e:
        print(f"An error occurred: {e}")
        return
    
    #Connect to the newly created database
    conn.close()
    conn = psycopg2.connect(f"dbname={db_name} user={username}")
    conn.autocommit = True
    cursor = conn.cursor()
    
    #Enable PostGIS extension
    try:
        cursor.execute("CREATE EXTENSION postgis;")
        print("PostGIS extension created successfully.")
    except psycopg2.DatabaseError as e:
        print(f"An error occurred: {e}")
    
    #Close connection
    conn.close()

#Test
setup_new_postgis_database('alexander', 'aendta_db')

An error occurred: database "aendta_db" already exists

In [10]:
setup_new_postgis_database(DB_USER, DB_NAME)

An error occurred: database "aendta_db" already exists

### Creating Tables


These are just a couple of options to creating your tables; you can use one or the other, a different method, or a combination.

In [11]:
engine = db.create_engine(DB_URL)

NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:postgres.psycopg2

#### Option 1: SQL

In [ ]:
# If using SQL (as opposed to SQLAlchemy), define the SQL statements to create your 4 tables.
# You may be creating more tables depending on how you're setting up your constraints/relationships
# or if you're completing the extra credit.
ZIPCODE_SCHEMA = """
TODO
"""

ZIPCODE_G

NYC_311_SCHEMA = """
TODO
"""

NYC_TREE_SCHEMA = """
TODO
"""

ZILLOW_SCHEMA = """
TODO
"""

In [ ]:
# create that required schema.sql file
with open(DB_SCHEMA_FILE, "w") as f:
    f.write(ZIPCODE_SCHEMA)
    f.write(NYC_311_SCHEMA)
    f.write(NYC_TREE_SCHEMA)
    f.write(ZILLOW_SCHEMA)

In [ ]:
# If using SQL (as opposed to SQLAlchemy), execute the schema files to create tables
with engine.connect() as connection:
    pass

#### Option 2: SQLAlchemy

In [ ]:
Base = declarative_base()

class Tree(Base):
    __tablename__ = "trees"

    ...

In [ ]:
Base.metadata.create_all(engine)

### Add Data to Database

These are just a couple of options to write data to your tables; you can use one or the other, a different method, or a combination.

#### Option 1: SQL

In [ ]:
def write_dataframes_to_table(tablename_to_dataframe):
    # write INSERT statements or use pandas/geopandas to write SQL
    raise NotImplemented()

In [ ]:
tablename_to_dataframe = {
    "zipcodes": geodf_zipcode_data,
    "complaints": geodf_311_data,
    "trees": geodf_tree_data,
    "rents": df_zillow_data,
}

In [ ]:
write_dataframes_to_table(tablename_to_dataframe)

#### Option 2: SQLAlchemy

In [ ]:
Session = db.orm.sessionmaker(bind=engine)
session = Session()

In [ ]:
for row in geodf_tree_data.iterrows():
    tree = Tree(...)
    session.add(tree)

In [ ]:
session.commit()

## Part 3: Understanding the Data

### Query 1

In [ ]:
# Helper function to write the queries to file
def write_query_to_file(query, outfile):
    raise NotImplementedError()

In [ ]:
QUERY_1_FILENAME = QUERY_DIR / "FILL_ME_IN"

QUERY_1 = """
FILL_ME_IN
"""

In [ ]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_1))
    for row in result:
        print(row)

In [ ]:
write_query_to_file(QUERY_1, QUERY_1_FILENAME)

## Part 4: Visualizing the Data

### Visualization 1

In [ ]:
# use a more descriptive name for your function
def plot_visual_1(dataframe):
    figure, axes = plt.subplots(figsize=(20, 10))
    
    values = "..."  # use the dataframe to pull out values needed to plot
    
    # you may want to use matplotlib to plot your visualizations;
    # there are also many other plot types (other 
    # than axes.plot) you can use
    axes.plot(values, "...")
    # there are other methods to use to label your axes, to style 
    # and set up axes labels, etc
    axes.set_title("Some Descriptive Title")
    
    plt.show()

In [ ]:
def get_data_for_visual_1():
    # Query your database for the data needed.
    # You can put the data queried into a pandas/geopandas dataframe, if you wish
    raise NotImplementedError()

In [ ]:
some_dataframe = get_data_for_visual_1()
plot_visual_1(some_dataframe)